{% extends 'base.html' %}

{% block content %}
<!-- Título del Seminario con fondo -->
<div class="bg-primary text-white text-center py-3">
    <h1>Seminario Gastronómico</h1>
</div>
<div class="container-fluid bg-light text-dark text-center py-3">
    <a name="" id="" class="btn btn-primary" href="/inscritos" role="button">Listado de Inscritos</a>
    <a name="" id="" class="btn btn-primary" href="/instituciones" role="button">Listado de Instituciones</a>
    <a name="" id="" class="btn btn-primary" href="api/datos_estudiante" role="button">Api Estudiante</a>
    <a name="" id="" class="btn btn-primary" href="api/inscritos_class" role="button">Api Inscritos</a>
    <a name="" id="" class="btn btn-primary" href="api/instituciones_function" role="button">Api Instituciones</a>
</div>



{% endblock %}